<%- include('common/header') -%>
<noscript><strong>We're sorry but password-generator doesn't work properly without JavaScript enabled. Please
    enable it to continue.</strong></noscript>
    <main class="flex-shrink-0">
        <div id="app"></div>
    </main>
<%- include('common/footer') -%>